<a href="https://colab.research.google.com/github/ujwalamankar/Data-Researcher-Assessment/blob/main/DA_project1_football.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Football-player-price-prediction

## To train the models

## To Deploy the model

## It is the Random Forest according to our implementation

In [4]:
#importing library
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
import itertools
import json
import pickle

In [6]:
df = pd.read_csv('/content/football.csv')

In [7]:
df.head()

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
0,Alexis Sanchez,Arsenal,28,LW,1,65.0,4329,12.0,17.10%,264,3.0,Chile,0,4,1,1,0
1,Mesut Ozil,Arsenal,28,AM,1,50.0,4395,9.5,5.60%,167,2.0,Germany,0,4,1,1,0
2,Petr Cech,Arsenal,35,GK,4,7.0,1529,5.5,5.90%,134,2.0,Czech Republic,0,6,1,1,0
3,Theo Walcott,Arsenal,28,RW,1,20.0,2393,7.5,1.50%,122,1.0,England,0,4,1,1,0
4,Laurent Koscielny,Arsenal,31,CB,3,22.0,912,6.0,0.70%,121,2.0,France,0,4,1,1,0

In [8]:
df.tail()

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
456,Edimilson Fernandes,West+Ham,21,CM,2,5.0,288,4.5,0.40%,38,2.0,Switzerland,0,1,20,0,1
457,Arthur Masuaku,West+Ham,23,LB,3,7.0,199,4.5,0.20%,34,4.0,Congo DR,0,2,20,0,1
458,Sam Byram,West+Ham,23,RB,3,4.5,198,4.5,0.30%,29,1.0,England,0,2,20,0,0
459,Ashley Fletcher,West+Ham,21,CF,1,1.0,412,4.5,5.90%,16,1.0,England,0,1,20,0,1
460,Diafra Sakho,West+Ham,27,CF,1,10.0,214,5.5,0.10%,12,4.0,Senegal,0,3,20,0,0

In [9]:
df.describe()

,age,position_cat,market_value,page_views,fpl_value,fpl_points,region,new_foreign,age_cat,club_id,big_club,new_signing
count,461.000000,461.000000,461.000000,461.000000,461.000000,461.000000,460.000000,461.000000,461.000000,461.000000,461.000000,461.000000
mean,26.804772,2.180043,11.012039,763.776573,5.447939,57.314534,1.993478,0.034707,3.206074,10.334056,0.303688,0.145336
std,3.961892,1.000061,12.257403,931.805757,1.346695,53.113811,0.957689,0.183236,1.279795,5.726475,0.460349,0.352822
min,17.000000,1.000000,0.050000,3.000000,4.000000,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000,0.000000
25%,24.000000,1.000000,3.000000,220.000000,4.500000,5.000000,1.000000,0.000000,2.000000,6.000000,0.000000,0.000000
50%,27.000000,2.000000,7.000000,460.000000,5.000000,51.000000,2.000000,0.000000,3.000000,10.000000,0.000000,0.000000
75%,30.000000,3.000000,15.000000,896.000000,5.500000,94.000000,2.000000,0.000000,4.000000,15.000000,1.000000,0.000000
max,38.000000,4.000000,75.000000,7664.000000,12.500000,264.000000,4.000000,1.000000,6.000000,20.000000,1.000000,1.000000

In [10]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
age,461.0,26.804772,3.961892,17.00,24.0,27.0,30.0,38.0
position_cat,461.0,2.180043,1.000061,1.00,1.0,2.0,3.0,4.0
market_value,461.0,11.012039,12.257403,0.05,3.0,7.0,15.0,75.0
page_views,461.0,763.776573,931.805757,3.00,220.0,460.0,896.0,7664.0
fpl_value,461.0,5.447939,1.346695,4.00,4.5,5.0,5.5,12.5
fpl_points,461.0,57.314534,53.113811,0.00,5.0,51.0,94.0,264.0
region,460.0,1.993478,0.957689,1.00,1.0,2.0,2.0,4.0
new_foreign,461.0,0.034707,0.183236,0.00,0.0,0.0,0.0,1.0
age_cat,461.0,3.206074,1.279795,1.00,2.0,3.0,4.0,6.0
club_id,461.0,10.334056,5.726475,1.00,6.0,10.0,15.0,20.0
big_club,461.0,0.303688,0.460349,0.00,0.0,0.0,1.0,1.0
new_signing,461.0,0.145336,0.352822,0.00,0.0,0.0,0.0,1.0

## Step 1: Training and Testing Dataset

In [11]:
train_df,test_df=train_test_split(df)

In [14]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 345 entries, 168 to 391
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          345 non-null    object
 1   club          345 non-null    object
 2   age           345 non-null    int64
 3   position      345 non-null    object
 4   position_cat  345 non-null    int64
 5   market_value  345 non-null    float64
 6   page_views    345 non-null    int64
 7   fpl_value     345 non-null    float64
 8   fpl_sel       345 non-null    object
 9   fpl_points    345 non-null    int64
 10  region        345 non-null    float64
 11  nationality   345 non-null    object
 12  new_foreign   345 non-null    int64
 13  age_cat       345 non-null    int64
 14  club_id       345 non-null    int64
 15  big_club      345 non-null    int64
 16  new_signing   345 non-null    int64
dtypes: float64(3), int64(9), object(5)
memory usage: 48.5+ KB

In [15]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 116 entries, 81 to 346
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          116 non-null    object
 1   club          116 non-null    object
 2   age           116 non-null    int64
 3   position      116 non-null    object
 4   position_cat  116 non-null    int64
 5   market_value  116 non-null    float64
 6   page_views    116 non-null    int64
 7   fpl_value     116 non-null    float64
 8   fpl_sel       116 non-null    object
 9   fpl_points    116 non-null    int64
 10  region        115 non-null    float64
 11  nationality   116 non-null    object
 12  new_foreign   116 non-null    int64
 13  age_cat       116 non-null    int64
 14  club_id       116 non-null    int64
 15  big_club      116 non-null    int64
 16  new_signing   116 non-null    int64
dtypes: float64(3), int64(9), object(5)
memory usage: 16.3+ KB

In [17]:
test_df.to_csv('/content/test_df.csv', index=False)

In [19]:
train_df.to_csv('/content/train_df.csv', index=False)

## Step 2 : Pre-processing the dataset

In [20]:
# Remove % sign from fpl_sel and convert to float
train_df.fpl_sel = train_df.fpl_sel.apply(lambda x : float(x[:-1]))

In [21]:
train_df.head()

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
168,Jon Gorenc Stankovic,Huddersfield,21,CB,3,0.5,83,4.0,1.1,0,2.0,Slovenia,0,1,8,0,0
300,Siem de Jong,Newcastle+United,28,AM,1,5.5,341,5.0,0.1,0,2.0,Netherlands,0,4,13,0,0
335,Xherdan Shaqiri,Stoke+City,25,RW,1,15.0,1000,6.0,3.2,80,2.0,Switzerland,0,3,15,0,0
437,Boaz Myhill,West+Brom,34,GK,4,1.5,100,4.0,5.3,0,2.0,Wales,0,6,19,0,0
39,Marc Pugh,Bournemouth,30,LW,1,2.0,140,5.0,0.1,64,1.0,England,0,4,2,0,0

In [22]:
# Remove % sign from fpl_sel and convert to float
test_df.fpl_sel = test_df.fpl_sel.apply(lambda x : float(x[:-1]))

In [23]:
test_df.head()

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
81,Jeff Hendrick,Burnley,25,CM,2,6.0,352,5.5,0.2,76,2.0,Ireland,0,3,4,0,1
38,Harry Arter,Bournemouth,27,CM,2,2.5,666,5.0,0.9,84,2.0,Ireland,0,3,2,0,0
0,Alexis Sanchez,Arsenal,28,LW,1,65.0,4329,12.0,17.1,264,3.0,Chile,0,4,1,1,0
411,Craig Cathcart,Watford,28,CB,3,4.0,128,4.5,0.0,31,2.0,Northern Ireland,0,4,18,0,0
356,Kyle Naughton,Swansea,28,RB,3,5.0,170,4.5,2.0,82,1.0,England,0,4,16,0,0

In [24]:
train_df = train_df.dropna()
train_df.shape

(345, 17)

In [25]:
test_df = test_df.dropna()
test_df.shape

(115, 17)